<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="padding-top:10px;">Pay
		<!--When this icon is pressed, the card reader will attempt to connect, read and list the swiped card-->
		<ion-icon name="add-circle-outline" style="font-size:30px; padding: 0px 20px 10px; float:right;">
		</ion-icon>
	</ion-title>
	
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
        <ion-label>
	<!--the price of the amount you are about to pay should be listed here-->
      ${{amount}}
      <!--  <input type="number"  [(ngModel)]="amount">-->
    </ion-label>
  </ion-item>
  
 <ion-item-divider>
    <ion-label>Payment Options</ion-label>
  </ion-item-divider>
<ion-item button (click)="pay(amount)" detail>
  <ion-label>
    Visa - 4895 2810 0000 0006, Exp. 12/25
  </ion-label>
</ion-item> 

<ion-item button (click)="pay(amount)" detail>
  <ion-label>
	MasterCard - 5541 0320 0000 4422, Exp. 12/25  </ion-label>
  </ion-item>

</ion-content>
